$primary-text-color: #111;
$secondary-text-color: #555;
$tertiary-text-color: #999;
$primary-background-color: #ffffff;
$secondary-background-color: #f5f5f5;
/*
$tint: #6bd2e4;
$primary: #30c0d9;
$shade: #23a9c0;
*/
$primary: #3252f3;
$secondary: #624dfa;

* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: $primary-background-color;
}

.btn-primary {
  font-size: 16px;
  font-weight: 700;
  padding: 10px 20px;
  border: none;
  outline: none;
  border-radius: 2rem;
  color: white;
  background-size: 200% auto;
  background-image: linear-gradient(to right, $primary 0%, $secondary 100%);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease;
  cursor: pointer;
  background-position: right center;

  i {
    margin-left: 2px;
  }

  &:hover {
    background-position: initial;
  }
}

.btn-primary-alt {
  font-size: 18px;
  font-weight: 700;
  padding: 12px 24px;
  border: none;
  outline: none;
  border-radius: 2rem;
  color: white;
  background-size: 200% auto;
  background-image: linear-gradient(to right, $primary 0%, $secondary 100%);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease;
  cursor: pointer;
  background-position: right center;

  i {
    margin-left: 2px;
  }

  &:hover {
    background-position: initial;
  }
}

hr {
  border-top: 1px solid $secondary-text-color;
  opacity: 0.5;
  margin: 1.5rem 0;
}

section {
  padding: 3rem 0;
}

h2 {
  color: $primary-text-color;
  font-size: 2.75rem;
  margin-bottom: 2rem;
  text-align: center;
  font-weight: 400;
}

// navbar

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0.5rem;

  span {
    font-size: 24px;
    font-weight: 500;
    height: 100%;
    color: $primary-text-color;
  }

  ul {
    display: flex;
    align-items: center;
    height: 100%;

    li {
      display: inline-block;
      margin-left: 1.5rem;
      font-size: 16px;
      font-weight: 600;
      height: 100%;

      a {
        color: $secondary-text-color;
        text-decoration: none;
        transition: all 0.2s ease;

        > i::before {
          background: linear-gradient(to right, $primary 0%, $secondary 100%);
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          display: initial;
        }

        &:hover {
          color: $primary-text-color;
        }
      }
    }
  }
}

//main

main {
  padding: 3rem 0.5rem 2rem;

  .container {
    .col-sm-6 {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .col-sm-6.center {
      align-items: center;
      background-image: url("assets/main.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      max-height: 40vh;

      img {
        visibility: hidden;
        max-height: 40vh;
      }
    }

    h1 {
      color: $secondary-text-color;
      text-transform: uppercase;
      font-size: 2.25rem;
      margin-bottom: 0.25rem;
      font-weight: 600;
    }

    h2 {
      color: $primary-text-color;
      font-size: 2.75rem;
      margin-bottom: 0.75rem;
      text-align: left;
      font-weight: 300;

      span {
        background: linear-gradient(to right, $primary 0%, $secondary 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    a {
      display: block;
      margin-right: auto;
    }
  }
}

//whatido

#whatido .col-sm-3 {
  padding: 0 1rem;

  div {
    border-radius: 0.8rem;
    -webkit-box-shadow: 0px 0px 32px -8px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 32px -8px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    height: 100%;
    color: $secondary-text-color;

    img {
      max-height: 70px;
      align-self: center;
      margin-bottom: 1rem;
    }

    h3 {
      align-self: center;
      margin-bottom: 0.5rem;
      color: $primary-text-color;
    }
  }
}

//footer

.footer {
  background-color: $secondary-background-color;
  padding: 3rem 0;

  .container {
    .footer-social {
      display: flex;
      flex-direction: column;

      > span {
        font-size: 2rem;
        font-weight: 500;
        color: $primary-text-color;
        margin-bottom: 0.5rem;
      }

      > div {
        display: flex;
        flex-direction: row;
        align-items: center;

        a {
          background: linear-gradient(to right, $primary 0%, $secondary 100%);
          border-radius: 2rem;
          font-size: 1.15rem;
          height: 2.15rem;
          width: 2.15rem;
          display: flex;
          align-items: center;
          justify-content: center;
          text-decoration: none;
          margin-right: 0.5rem;
          transition: all 0.2s ease;

          i {
            color: white;
            transition: all 0.2s ease;
          }

          &:hover {
            i {
              color: #f5f5f5;
            }
          }
        }
      }
    }

    .footer-links {
      span {
        color: $tertiary-text-color;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 700;
        display: block;
        margin-bottom: 0.6rem;
      }

      ul {
        list-style: none;

        li {
          display: flex;
          flex-direction: row;
          margin-bottom: 0.75rem;
          font-size: 20px;
          font-weight: 600;

          a {
            color: $secondary-text-color;
            text-decoration: none;
            transition: all 0.2s ease;

            > i::before {
              background: linear-gradient(to right, $primary 0%, $secondary 100%);
              background-clip: text;
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
              display: initial;
            }

            &:hover {
              color: $primary-text-color;
            }
          }
        }
      }
    }

    .footer-contact {
      span {
        color: $tertiary-text-color;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 700;
        display: block;
        margin-bottom: 0.5rem;
      }

      ul {
        list-style: none;

        li {
          display: flex;
          flex-direction: row;
          margin-bottom: 0.75rem;
          font-size: 21px;
          font-weight: 700;

          a {
            background: linear-gradient(to right, $primary 0%, $secondary 100%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            text-decoration: none;
            transition: all 0.2s ease;
            background-size: 200% auto;
            background-position: initial;

            &:hover {
              background-position: right center;
            }
          }
        }
      }
    }

    > span {
      display: block;
      text-align: center;
      font-weight: 600;
      color: $tertiary-text-color;

      a {
        color: inherit;
      }
    }
  }
}
